/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 11.51.48
    Author     : Stefano
*/
body{
    background-color: #333333;
    font: 17px/25px 'Tauri', Charcoal, sans-serif;
    color: white;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #cccccc;
    font: 40px/45px 'Tauri', Charcoal, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

h2{
    color: #cccccc;
    font: 30px/35px 'Tauri', Charcoal, sans-serif;
    font-weight: bold;
}

h3{
    color: #cccccc;
    font: 23px/30px 'Tauri', Charcoal, sans-serif;
    font-weight: bold;
}

a:link, a:visited{
    text-decoration: none;
    color: #ff9900;
}

a:hover{
    color: #FFCF0D;
}

label, input{
    font: 20px/25px 'Tauri', Charcoal, sans-serif;
}

input{
    display: block;
    outline: none;
    border: 2px solid #555555;
    background: white;
    color: #333333;
    line-height: 30px; 
    width: 250px;
}

input:focus{
    outline: none;
    border: 2px solid #ff9900;
    box-shadow: 0 0 1px #ffcf0d;
}

form button{
    width: 100%;
    font: 20px/25px 'Tauri', Charcoal, sans-serif;
    background-color: #ff9900;
    border: outset #999999;
}

form button:hover{
    background-color: #ffcf0d;
}

form button:active, form button:focus{
    border: inset #999999;
    outline: none;
}

#formLogin label, #formLogin input, #formLogin button{
    margin: 20px;
}

#formLogin button{
    margin-top: 5px;
}

#formLogin input{
    width: 100%;
    margin-top: 5px;
}

#formLogin{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#formLogin label:after{
    content: '\A';
    white-space: pre;
}

#formProfilo form{
    width: 450px;
}

#formProfilo label, #formProfilo input, #formProfilo button{
    margin: 15px 20px;
}

#formProfilo input{
    margin-left: 0px;
}

#formProfilo label{
    float: left;
    width: 120px;
    height: 30px;
}

#formProfilo input{
    float: left;
    width: 266px;
}

#formProfilo #data{
    width: 264px;
}

#formProfilo button{
    width: 410px;
}

header{
    background-color: #272727;
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 100%;
}

#navbar{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    float: left;
    width: 200px;
}

nav{
    float: left;
    width: 600px;
}

#login{
    float: right;
    width: 200px;
}


