/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 11.51.48
    Author     : Stefano
*/
body{
    background-color: #333333;
    font: 17px/25px 'Tauri', Charcoal, sans-serif;
    color: white;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #cccccc;
    font: 40px/45px 'Tauri', Charcoal, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

h2{
    color: #cccccc;
    font: 30px/35px 'Tauri', Charcoal, sans-serif;
    font-weight: bold;
}

h3{
    color: #cccccc;
    font: 23px/30px 'Tauri', Charcoal, sans-serif;
    font-weight: bold;
}

a:link, a:visited{
    text-decoration: none;
    color: #ff9900;
}

a:hover{
    color: #FFCF0D;
}

label, input{
    font: 20px/25px 'Tauri', Charcoal, sans-serif;
}

input{
    display: block;
    outline: none;
    border: 2px solid #555555;
    background: white;
    color: #333333;
    line-height: 30px; 
    width: 250px;
}

input:focus{
    outline: none;
    border: 2px solid #ff9900;
    box-shadow: 0 0 1px #ffcf0d;
}

form button{
    width: 100%;
    font: 20px/25px 'Tauri', Charcoal, sans-serif;
    background-color: #ff9900;
    border: outset #999999;
}

form button:hover{
    background-color: #ffcf0d;
}

form button:active, form button:focus{
    border: inset #999999;
    outline: none;
}

#formLogin label, #formLogin input, #formLogin button{
    margin: 20px;
}

#formLogin button{
    margin-top: 5px;
}

#formLogin input{
    width: 100%;
    margin-top: 5px;
}

#formLogin{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#formLogin label:after{
    content: '\A';
    white-space: pre;
}

#formProfilo form{
    width: 450px;
}

#formProfilo label, #formProfilo input, #formProfilo button{
    margin: 15px 20px;
}

#formProfilo input{
    margin-left: 0px;
}

#formProfilo label{
    float: left;
    width: 120px;
    height: 30px;
}

#formProfilo input{
    float: left;
    width: 266px;
}

#formProfilo #data{
    width: 264px;
}

#formProfilo button{
    width: 410px;
}

header.barra{
    background-color: #272727;
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#navbar{
    height: 60px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    float: left;
    height: 60px;
    width: 200px;
    text-align: center;
}

nav{
    float: left;
    height: 60px;
    width: 600px;
}

nav ul, nav li{
    margin-top: 0px;
    list-style-type: none;
    display: inline-block;
    line-height: 80px;
    height: 57px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
    font-variant: small-caps;
}

nav li:hover{
    background-color: #444444;
}

nav li.attuale{
    border-bottom: 3px solid #ffcf0d;
}

/*nav li a{
    text-align: center;
}*/


#login{
    margin-top: 0px;
    float: right;
    height: 60px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

#login p{
    height: 19px;
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 17px;
    
}

#login a{
    margin-top: 0px;
    text-decoration: underline;
    font-size: 12px;
}

#divBody{
    margin-top: 70px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar{
    float: left;
    width: 200px;
}

#stato{
    float: left;
    width: 800px;
    height: 50px;
}

#stato p{
    display: inline-block;
    padding-left: 20px;
}

#stato p strong{
    color: #cccccc;
}

#bacheca{
    margin-top: 10px;
    float: left;
    width: 800px;
}

#bacheca .post{
    display: inline-block;
    margin: 10px 20px;
    background-color: #353535;
    border: 0.5px solid #383838;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}

#bacheca .post .propic{
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
}

#bacheca .post h3{
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-bottom: 27px;
    margin-top: 0px;
}

#bacheca .post p{
    display: inline-block;
    float: left;
    margin-top: 20px;
    width: 100%;
}

#bacheca .post .allegato{
    display: inline-block;
    float: left;
    margin-top: 10px;
    width: 100%;
}
